.DS_Store
__pycache__/
*.pyc
.venv/
.pytest_cache/
.idea/
allure-results
allure-report
*.html
*.json
videos
tracing

# coverage
coverage.html
coverage-results
coverage-report.json
coverage-history.json
